pinecone-client (try just pip install pinecone first)
sentence-transformers
transformers (should be installed with sentence-transformers)
torch  (should be installed with sentence-transformers) 
pyqt5
accelerate
